.conteudo-left{
    width:50%;
    height:600px;
    float:left;
    background-color:#FFEC0C;
    position: relative;
	}
	
	
.conteudo-right{
    width:50%;
    height:600px;
    float:right;
    background-color:#000000;
    position: relative;
    }


.frase-efeito {
	text-transform: none;
	box-sizing: border-box;
	margin: 150px 40px;
	padding: 40px;
	font-size: 1.9em;
	font-family: "Crimson Text", "Times New Roman", serif;	
}


.saiba-mais {
	text-transform: none;
	box-sizing: border-box;
	padding: 10px;
	font-size: 1em;
	font-family: "Crimson Text", "Times New Roman", serif;
	position: relative;
}

.lupa{
	position: relative;
	top: 0;
	right: 0;
	height: 30px;
}

a{
	color: #000000;
	text-decoration: none;
}
